aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2023.7.22
charset-normalizer==3.2.0
decorator==4.4.2
Eel==0.16.0
frozenlist==1.4.0
future==0.18.3
gevent==23.9.0.post1
gevent-websocket==0.10.1
greenlet==2.0.2
idna==3.4
imageio==2.31.1
imageio-ffmpeg==0.4.8
jsons==1.6.3
lxml==4.9.3
moviepy==1.0.3
multidict==6.0.4
numpy==1.25.2
openai==0.27.8
opencv-python==4.8.0.76
Pillow==10.0.0
proglog==0.1.10
pyparsing==3.1.1
requests==2.31.0
tdqm==0.0.1
tk==0.1.0
tqdm==4.65.0
typish==1.9.3
urllib3==2.0.4
whichcraft==0.6.1
yarl==1.9.2
zope.event==5.0
zope.interface==6.0
